:root {
  /* Font Size */
  --font-regular: 1em;
  --font-small: 0.8em;
  --font-title: 1.3em;
  /* Padding Margin */
  --margin-side: 7em;
  --margin-between: 5em;
  --title-margin: 0.3em;

  /* Color */
}

* {
  list-style: none;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  font-size: 1em;
}

/* ===================
Main
======================= */

main {
  margin: 2em var(--margin-side);
}

/* Main 1*/
main .main1 {
  display: flex;
}

main .main1 img {
  position: relative;
  border-radius: 0.1em;
}

main .main1 .first_line {
  font-size: 2em;
  margin-right: 5em;
  position: absolute;
  left: 55%;
  top: 40%;
  font-weight: 600;
}

main .main1 .second_line {
  font-size: 2em;
  margin-right: 5em;
  position: absolute;
  left: 60%;
  top: 45%;
}

main .main1 figure img {
  width: 60vw;
}

/*Main 2*/

main .main2 {
  display: flex;
  margin-top: var(--margin-between);
}

main .main2 figure img {
  object-fit: cover;
  object-position: 0% 60%;
  width: 50vw;
  height: 50vh;
  border-radius: 0.1em;
}

main .main2 .text {
  flex-direction: column;
  width: 30vw;
  padding-right: 1.5em;
  text-align: center;
}

main .main2 .title {
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 2em;
  padding: 1em 1em 0 0;
  text-align: start;
}

main .main2 .details {
  font-size: var(--font-regular);
  margin-bottom: 2em;
  text-align: start;
}

main .main2 .text button {
  border-style: none;
  background: rgba(226, 226, 226, 0.3);
  padding: 0.5em 1.1em;
  border-radius: 0.5em;
  font-size: var(--font-small);
}

main .main2 .text button:hover {
  transition: all 0.5s ease 0s;
  background: rgba(226, 226, 226, 0.9);

  cursor: pointer;
}

/*==================
Travail
=========================*/
.travail {
  margin: var(--margin-between) var(--margin-side);
}

.travail article p {
  font-size: var(--font-title);
  font-weight: 600;
  margin-bottom: var(--title-margin);
}

.travail figure {
  display: flex;
}

.travail figure img {
  width: 26.5vw;
  border-radius: 0.2em;
}

.travail figure img:hover {
  transition: all 0.5s ease 0s;
  cursor: pointer;
  opacity: 50%;
}

.travail figure #second {
  padding: 0 1em;
}

/*===================
Reservation
========================*/
.form {
  margin: var(--margin-between) var(--margin-side);
  background-color: #eee;
  width: 77.3vw;
  padding: 2em;
  border-radius: 0.5em;
}

section p {
  font-size: var(--font-title);
  font-weight: 600;
}

section form {
  height: 30vh;
}

section form .form_contatiner {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

section form .form_contatiner div {
  display: flex;
  padding: 0.8em;
}

section form .form_contatiner .name {
  grid-row: span 1;
  grid-column: span 1;
}

section form .form_contatiner .name input {
  margin-right: 0.5em;
}

section form .form_contatiner .name label,
section form .form_contatiner .email label,
section form .form_contatiner .demande label,
section form .form_contatiner .phone label,
section form .form_contatiner .date label,
section form .form_contatiner .message label {
  padding-right: 1em;
}

.submit button {
  border-style: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.4em 1em;
  border-radius: 0.5em;
  font-size: var(--font-small);
  /*text-align: center; dosen't work*/
}

.submit button:hover {
  transition: all 0.5s ease 0s;
  background: rgb(216, 216, 216);
  cursor: pointer;
}
