/* Footer */
footer {
  flex-direction: column;
  display: inline;
  margin: 0 var(--margin-side);
}

footer .logo {
  text-align: center;
}

footer .logo img {
  width: 18vw;
}

footer ul {
  padding-left: 0;
  text-align: center;
}

footer ul li {
  padding-right: 1.2em;
  position: relative;
  display: inline-block;
  font-size: 0.9em;
}

footer .line {
  border-style: solid none none none;
  border-width: 1px;
  height: 0.5em;
  color: rgba(0, 0, 0, 0.1);
  margin-top: 0.5em;
}
