:root {
  /* Font Size */
  --font-regular: 1em;
  --font-small: 0.8em;
  --font-title: 1.3em;
  --title-margin: 0.3em;

  /* Padding Margin */
  --margin-side: 7em;
  --margin-between: 5em;
  /* Color */
}

* {
  list-style: none;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

/* Gallerie */

section {
  margin: 2em var(--margin-side);
}
section p {
  font-size: var(--font-title);
  margin-bottom: var(--title-margin);
  font-weight: 600;
}

.wrapper {
  height: 82vh;
  /*flex: 1 1 88%;
  min-height: 100vh;*/
  margin-bottom: 2em;
}

.wrapper .content {
  display: grid;
  /*height: 100%;
  border: 1px solid #000;*/
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.wrapper .content div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 0.2em;
}

.wrapper .content .small {
  grid-row: span 14;
  grid-column: span 1;
  background-image: url('img/baby1.jpg');
  /*object-fit: cover;
  object-position: 0% 0%;
  width: 12em;
  height: 10em;*/
  background-size: cover;
}

.wrapper .content .medium {
  grid-row: span 14;
  grid-column: span 2;
  background-size: cover;
  background-position: center;
  background-image: url('img/pregnant2.jpg');
}

.wrapper .content #one {
  background-image: url('img/baby2.jpg');
  background-position: top;
}

.wrapper .content .large {
  grid-row: span 14;
  grid-column: span 3;
  background-size: cover;
  background-position: center;
  background-image: url('img/child.jpg');
}

.wrapper .content .tall {
  grid-row: span 28;
  grid-column: span 2;
  background-size: cover;
  background-position: center;
  background-image: url('img/duo.jpg');
}

.wrapper .content .wide {
  grid-row: span 14;
  grid-column: span 3;
  background-size: cover;
  background-image: url('img/pregnant.png');
  background-position: center;
}

.wrapper .content div:hover {
  opacity: 50%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
