/* Navagator */

nav {
  display: inline;
  margin: 30px var(--margin-side);
}

nav .logo {
  text-align: center;
}

nav .logo img {
  width: 25vw;
}

nav ul {
  padding-left: 0;
  text-align: center;
}

nav ul li:hover {
  opacity: 50%;
  transition: all 0.5s ease 0s;
}

nav ul li {
  padding-right: 30px;
  display: inline-block;
}

nav .line {
  border-style: solid none none none;
  border-width: 1px;
  height: 0.5em;
  color: rgba(0, 0, 0, 0.1);
  margin-top: 0.5em;
}

/*Another way to align on center of the page

nav ul{
  display: flex;
  justify-content: center;
}

nav ul li{
  padding: 1em;
  margin: 1em;
}

*/

.material-icons {
  font-size: 1.1em;
  display: none;
}

@media screen and (max-width: 840px) {
  .menu li {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .material-icons {
    float: right;
    display: block;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: ;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu li {
    width: 100%;
    text-align: center;
  }

  .menu li.active {
    display: flex;
  }
}
