:root {
  /* Font Size */
  --font-regular: 1em;
  --font-small: 0.8em;
  --font-title: 1.3em;
  --title-margin: 0.3em;

  /* Padding Margin */
  --margin-side: 7em;
  --margin-between: 5em;
  /* Color */
}

* {
  list-style: none;
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  font-size: 1em;
}

section {
  margin: 2em var(--margin-side);
  width: 82vw;
  height: 180vh;
}

section article {
  margin-bottom: var(--margin-between);
  /*width: 82.5vw;*/
}

section article .title_text {
  font-size: var(--font-title);
  font-weight: 600;
  margin-bottom: var(--title-margin);
}

section .studio .title,
section .domicile .title,
section .jardin .title {
  display: flex;
  justify-content: space-between;
}

/*section .studio .title figure {
  display: flex;
}*/

section .studio .title figure img,
section .domicile .title figure img,
section .jardin .title figure img {
  width: 2vw;
  height: 3.7vh;
  border-radius: 100%;
  padding-left: 0.3em;
}

section .studio .title figure img:hover,
section .domicile .title figure img:hover,
section .jardin .title figure img:hover {
  cursor: pointer;
  opacity: 50%;
  transition: all 0.5s ease 0s;
}

section .studio .content,
section .domicile .content,
section .jardin .content {
}

section .studio .content .img_slider,
section .domicile .content .img_slider,
section .jardin .content .img_slider {
  overflow: hidden;
  display: flex;
  width: 82.5vw;
  height: 42vh;
}

section .studio .content figure .image,
section .studio .content figure .image,
section .studio .content figure .image,
section .studio .content figure .image,
section .studio .content figure .image,
section .studio .content figure .image {
  width: 82.5vw;
  height: 42vh;
  object-fit: cover;
  object-position: 0% 15%;
  border-radius: 0.3em;
}

section .domicile .content figure img,
section .jardin .content figure img {
  width: 82.5vw;
  height: 42vh;
  object-fit: cover;
  object-position: 0% 30%;
}

section .jardin .container .img_slider #swing {
  object-position: 70% 100%;
  object-fit: cover;
}
