/* Font Size */
$fontSmall: 0.8em;
$fontRegular: 1em;
$fontTitle: 1.3em;
$fontLarge: 2em;

/* Margin */
$marginSide: 7em;
$marginBetween: 5em;
$marginTitle: 0.3em;
$marginBottom: 0.5em;

/* Color */
$colorBtnMain: rgba(226, 226, 226, 0.3);
$colorBtnMainHv: rgba(226, 226, 226, 0.9);
$colorBtnForm: rgba(255, 255, 255, 0.8);
$btnFormHv: rgb(216, 216, 216);
